.WeatherForecast .ForecastDay {
  color: black;
  font-weight: 500;
  font-size: 12px;
  transition: all 200ms ease-in-out;
}

.WeatherForecast .TempMax {
  font-weight: 500;
  color: white;
}
.WeatherForecast .TempMin {
  font-weight: 200;
  color: white;
}
.WeatherForecast .day {
  background: rgba(0, 0, 0, 0.2);
  margin: 2px;
  border-radius: 10px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  transition: all 200ms ease-in-out;
}
.WeatherForecast .day:hover {
  background: rgba(255, 255, 255, 0.5);
  margin: 2px;
  border-radius: 10px;
  color: #ffc107;
}
